# Awesome test page at: https://htaccess.madewithlove.be/
# Redirect all traffic to index.php unless the file exists, thus allowing for .js, .css and so on to be read

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_METHOD} !=HEAD
RewriteRule ^(.*)$ /index.php?page=$1 [NC,L,QSA]
